<?xml version="1.0"?>
<model>
  <name>Y_positive_15_lifted_size_30</name>
  <version>0.1.0</version>
  <author>
   <name>Jiayi Wang</name>
   <email>Jiayi.Wang@ed.ac.uk</email>
  </author>
  <sdf>model.sdf</sdf>
  <description>
    Slope model with 15 degree rotation model around y positive axis, bottom lifted to be consistent with the blocks in the lab.
  </description>
</model>
