<?xml version="1.0"?>
<model>
  <name>Y_positive_10_lifted_size_30</name>
  <version>0.1.0</version>
  <author>
   <name>Jiayi Wang</name>
   <email>Jiayi.Wang@ed.ac.uk</email>
  </author>
  <sdf>model.sdf</sdf>
  <description>
    Size 30x30 Slope model with 10 degree rotation model around y positive axis, llifted with 6mm (align with the bottom of the blocks in the lab)
  </description>
</model>
